.description-block {
    margin: 6rem 3rem 3rem 3rem;
    &-mobile {
        margin: 2rem;
    }
}

.contact-form {
    margin: 0 1rem;
}

.alert-message-context {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
