.main-container {
  margin: 3rem 12rem;
  height: 85%;
}

.router-wrapper {
  margin-left: 3rem;
  overflow-y: scroll;
}

.mobile-container{
  overflow-y: scroll;
}

.ad-size {
  display: inline-block !important;
  width: 728px !important;
  height: 90px !important;
}
