$white: #ffffff;
$light: #f8f9fa;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;

$skeleton-loader-mask-color: $white !default;
$skeleton-loader-mask-color-light: $light !default;
$skeleton-loader-mask: escape-svg(str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='768' height='332'%3E%3Cpath d='M0 0h768v332H0V0zm0 0h220v48H0V0zm0 64h308v96H0V64zm0 112h418v96H0v-96zM324 64h444v96H324V64zm110 112h304v96H434v-96zM0 288h188v44H0v-44zm204 0h154v44H204v-44z' fill='#{$skeleton-loader-mask-color}' fill-rule='evenodd' /%3E%3C/svg%3E"), "#", "%23")) !default;
$skeleton-loader-mask-light: str-replace($skeleton-loader-mask, str-replace(#{'fill=\'' + $skeleton-loader-mask-color + '\''}, "#", "%23"), str-replace(#{'fill=\'' + $skeleton-loader-mask-color-light + '\''}, "#", "%23")) !default;
$skeleton-loader-mask-fill-pixel: escape-svg(str-replace(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1' height='1'%3E%3Cpath fill='#{$skeleton-loader-mask-color}' d='M0 0h1v1H0z'/%3E%3C/svg%3E"), "#", "%23")) !default;
$skeleton-loader-mask-fill-pixel-light: str-replace($skeleton-loader-mask-fill-pixel, str-replace(#{'fill=\'' + $skeleton-loader-mask-color + '\''}, "#", "%23"), str-replace(#{'fill=\'' + $skeleton-loader-mask-color-light + '\''}, "#", "%23")) !default;

.skeleton-loader {
  position: relative;
  overflow: hidden;
  height: 332px;
  &::before {
    background-size: 768px 332px, 100% 100%;
    background-repeat:no-repeat;
    background-image: $skeleton-loader-mask, $skeleton-loader-mask-fill-pixel;
    display: block;
    position: absolute;
    content: '';
    z-index: 1;
    height: 100%;
    width: 100vw;
    top: 0;
    background-position-x: 0, 768px;

  }
  &::after {
    background: linear-gradient(80deg, $gray-100 10%, $gray-200 80%, transparent 90%), $gray-100;
    animation-duration: 2800ms;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: skeletonLoader;
    animation-timing-function: ease-out;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    z-index: 0;
    height: 100%;
    width: 100vw;
    top: 0;
  }
  &.skeleton-loader-fill-sm {
    height: 24px;
    &::before {
      background: none;
    }
  }
  &.bg-light {
    &::before {
      background-size: 768px 332px, 100% 100%;
      background-repeat:no-repeat;
      background-image: $skeleton-loader-mask-light, $skeleton-loader-mask-fill-pixel-light;
      background-position-x: 0, 768px;
    }
    &::after {
      background: linear-gradient(80deg, darken($light, 5%) 10%, darken($light, 10%) 80%, transparent 90%), darken($light, 5%);
      background-size: 50% 100%;
      background-repeat: no-repeat;
    }
  }
}

@media (min-width: 576px) {
  .skeleton-loader {
    &::after {
      animation-duration: 2400ms;
    }
    &.delay-3::after {
      animation-delay: 200ms;
    }
  }
}

@media (min-width: 768px) {
  .skeleton-loader {
    &::after {
      animation-duration: 2200ms;
    }
    &.delay-3::after {
      animation-delay: 400ms;
    }
    &.delay-2::after {
      animation-delay: 300ms;
    }
    &.delay-1::after {
      animation-delay: 200ms;
    }
  }
}

@media (min-width: 992px) {
  .skeleton-loader {
    &::after {
      animation-duration: 2000ms;
    }
    &.skeleton-loader-table {
      height: 316px;
    }
  }
}

@media (min-width: 1200px) {
  .skeleton-loader {
    &::after {
      animation-duration: 2000ms;
    }
    &.skeleton-loader-table {
      height: 451px;
    }
  }
}

@keyframes skeletonLoader {
  0% {
    background-position-x: -100%;
  }
  70%, 100% {
    background-position-x: calc(-100% + 1536px);
  }
}
