.collapsible-content {
    padding: 0 1.5rem 1.5rem 1.5rem;
    font-size: small;
}

.position-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.position-title-container-mobile {
    margin-bottom: 1rem;
}

.position-title {
    font-size: 1.3rem;
    font-weight: 500;
}

.project-container-mobile {
    text-align: start;
}

.project-content-mobile {
    margin-left: .5rem;
    margin-bottom: .5rem;
}
